{% import 'header.html.jinja' as header %}
{% import 'footer.html.jinja' as footer %}

{{header.makeHeader("Creerun favoris" )}}

    <style>
        .conteneur {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="file"],
select {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


    </style>

    <div class="conteneur">
        <h2>Création de Favoris</h2>
        <form action="#" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="image">Choisissez une image :</label>
                <input type="file" id="image" name="image" accept="image/*" required>
            </div>
            <div class="form-group">
                <label for="station">Choisissez une station :</label>
                <select id="station" name="stationcode" required>
                    <option value="">Choisissez une station</option>
                    {% for station in stations %}
                        <option value={{ station.stationcode }}>{{ station.name }}</option>
                    {% endfor%}
                </select>
            </div>
            <button type="submit">Créer</button>
        </form>
    </div>
{{footer.makeFooter()}}

</html>
