<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>infos d'un favoris</title>
</head>
<body>
    <img src={{'/image/' + image_url}} alt="Vous n'avez pas encore défini une image pour votre station. veillez modifier le favoris">
    <p><strong>{{favoris['station_name']}}</strong></p>
    <a href={{update_url}}><button>Modifier</button></a>
    <a href="/fav">>Retour à la liste</a>
</body>
</html>