{% import 'header.html.jinja' as header %}
{% import 'footer.html.jinja' as footer %}

{{header.makeHeader("Lister les favoris")}}

    <style>
        .conteneur {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
    </style>

    <div class="conteneur">
        <h2>Liste des stations Favoris</h2>
        <a href="/fav/new"><button>Créer un favoris</button></a>
        
                    {% for favoris in liste %}
                    <div>
                        <p>
                            <img src={{'/image/' + favoris.img_url}} alt="Pas d'image" height="15">
                            <strong>{{ favoris.libelle }}</strong> <a href={{ favoris.url_view }}>
                            <button>Voir</button></a> <a href={{ favoris.url_suppression }}>
                            <button>Supprimer</button></a></p>
                    </div>
                        <option value=></option>
                    {% endfor%}
            
    </div>
{{footer.makeFooter()}}
</html>
