{% macro mapMaker(type,stations=[]) -%}
{% if type is equalto "one" %}
    {% set station = stations[0] %}
{% endif %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script>
    var map = L.map('map').setView([48.8566, 2.3522], 12);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);
    if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
        var latlng = [position.coords.latitude, position.coords.longitude];
        map.setView(latlng, 12);

        {% if type is equalto "one" %}
            var markerUser = L.marker(latlng).addTo(map)
                .bindPopup("Vous êtes ici").openPopup();
                var marker = L.marker([{{station.coordonnees_geo.lat}}, {{station.coordonnees_geo.lon}}]).addTo(map);
                marker.bindPopup("<b>" + "{{station.name}}" + "</b><br>Disponibilité: " + "{{station.numbikesavailable}}" +
                "<br> <a href='/fav/auto/{{station.stationcode}}'> <button class='addToFave'>Ajouter à mes favoris ❤️</button> </a>").openPopup();
                map.setView([{{station.coordonnees_geo.lat}}, {{station.coordonnees_geo.lon}}], 20);
        {% endif %}
        // Centre la carte sur la position de l'utilisateur
    });
} else {
    alert("Géolocalisation non supportée par votre navigateur.");
}

{% if type is equalto "all" %}
    {% for station in stations %}
        var marker = L.marker([{{station.coordonnees_geo.lat}}, {{station.coordonnees_geo.lon}}]).addTo(map);
        marker.bindPopup("<b>" + "{{station.name}}" + "</b><br>Disponibilité: " + "{{station.numbikesavailable}}" +
        "<br> <a href='/fav/auto/{{station.stationcode}}'> <button class='addToFave'>Ajouter à mes favoris ❤️</button> </a>").openPopup();
        map.setView([{{station.coordonnees_geo.lat}}, {{station.coordonnees_geo.lon}}], 12);
    {% endfor%}
{% endif %}

</script>

<style>
    .addToFave {
        background-color: white;
        border: 1px solid black;
        padding: 5px 20px;
        border-radius: 30px;
    }
</style>
{%- endmacro %}