{% import 'header.html.jinja' as header %}
{% import 'footer.html.jinja' as footer %}

{{header.makeHeader("S'inscrire" )}}

    <style>
        .conteneur {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        
        .form-group {
            margin-bottom: 20px;
        }
        
        label {
            display: block;
            font-weight: bold;
        }
        
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 95%;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        
        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
        }
        
        button[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
    
    <div class="conteneur">
        <h2>Inscrivez-vous</h2>
        <form action="/signup" method="POST">
            <div class="form-group">
                <label for="nom">Nom :</label>
                <input type="text" id="nom" name="nom" required>
            </div>
            <div class="form-group">
                <label for="prenom">Prénom :</label>
                <input type="text" id="prenom" name="prenom" required>
            </div>
            <div class="form-group">
                <label for="email">Email :</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="motdepasse">Mot de passe :</label>
                <input type="password" id="motdepasse" name="motdepasse" required>
            </div>

            {% if msg is not equalto None and msg|length > 0 %} 
                <pre>{{msg}}</pre>
            {%endif%}

            <button type="submit">S'inscrire</button>
        </form>
        {% if msg is not equalto None and msg|length > 0 %} 
                <p> <a href="/login">Connectez-vous</a>.</p>
        {%endif%}
                

    </div>
{{footer.makeFooter()}}
</html>
