{% import 'carte_generator.html.jinja' as map %}
{% import 'header.html.jinja' as header %}
{% import 'footer.html.jinja' as footer %}

{{header.makeHeader("Infos d'une station","https://unpkg.com/leaflet@1.7.1/dist/leaflet.css")}}

<style>
.add-to-favorites {
    background-color: #ffcc00;
    border: none;
}
.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.actions button {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.conteneur {
    max-width: 900px;
    margin:  auto;
    padding: 20px;
}

h2 {
    text-align: center;
}

.station-details {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.station-details img {
    width: 70%;
    border-radius: 5px;
    margin-right: 20px;
}

.info {
    flex: 1;
}

.info h3 {
    margin-top: 0;
}

.info p {
    margin: 5px 0;
}


</style>

<div class="conteneur">
        <h2>Détail de la station</h2>
        <div class="station-details">
            <img 
                {% if station.stationcode | int is divisibleby  2 %}
                    src="https://i0.wp.com/www.nouvellesdefontenay.fr/wp-content/uploads/2018/11/Station_Velib_Jaur%C3%A8s.jpg" 
                    {% elif station.stationcode | int is divisibleby  3 %}
                    src="https://leparisien.fr/resizer/OQi1gqxlkbdvnzkHfkz7D1KGDhk=/1200x675/arc-anglerfish-eu-central-1-prod-leparisien.s3.amazonaws.com/public/RKP62IMV74M6HVCJORAKM6YWQI.jpg" 
                    {% elif station.stationcode | int is divisibleby  5 %}
                    src="https://www.francebleu.fr/s3/cruiser-production/2021/04/0796d046-4000-4656-9964-1b706339acf3/1200x680_velib_station.jpg" 
                    {% elif station.stationcode | int is divisibleby  7 %}
                    src="https://blog.velib-metropole.fr/wp-content/uploads/2021/04/velib-cable-station-1-1024x682.jpg" 
                    {% else %}
                    src="https://offloadmedia.feverup.com/parissecret.com/wp-content/uploads/2021/04/21054222/Copie-de-Design-sans-titre-82-1024x576.jpg" 
                {% endif%}
                alt="Station {{station.stationcode}}">

                <div class="info">
                    <h3>{{station.name}}</h3>
                    <p><strong>Ville:</strong> {{station.nom_arrondissement_communes}}</p>
                    <p><strong>Nombre de velibs disponibles:</strong>{{station.numbikesavailable}}</p>
                    <ul>
                        <li>Velib mechanique : {{station.mechanical}}</li>
                        <li>Velib electronique : {{station.ebike}}</li>
                    </ul>
                    <p><strong>Capacité :</strong> {{station.capacity}}</p>
                    <div class="actions">
                    {% if session['user'] %}
                        <a href="/fav/auto/{{station.stationcode}}">
                            <button class="add-to-favorites">&#9825;</button>
                        </a>
                    {% endif%}
                    </div>
                </div>
        </div>
    </div>
    <div id="map"  style="width: 900px; height: 500px; margin:1px auto;"></div>
{{footer.makeFooter()}}
{{map.mapMaker('one',[station] )}}

</html>