<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Carte des stations Vélib'</title>
</head>
<body>
    <header>
    </header>

    <main>
       
    </main>

    <footer>
        <p>&copy; 2024 Vélib' App</p>
    </footer>

</body>
</html>
