<!DOCTYPE html>
<html>
<head>
    <title>Carte des Stations Velib</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
<h3>Bonjour (prenom)</h3>
<a href="/favoris"><button>Mes stations favorites</button></a>
<div id="map" style="width: 100%; height: 750px;"></div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script>
    var favoris = []

    var map = L.map('map').setView([48.8566, 2.3522], 12);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    // var bikeIcon = L.icon({
    //     iconUrl: 'bike-icon.jpeg', 
    //     iconSize: [38, 38], 
    //     iconAnchor: [22, 94], 
    //     popupAnchor: [-3, -76] 
    // });

    if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
        var latlng = [position.coords.latitude, position.coords.longitude];
        console.log(latlng);

        var markerUser = L.marker(latlng).addTo(map)
            .bindPopup("Vous êtes ici").openPopup();

        // Centre la carte sur la position de l'utilisateur
        map.setView(latlng, 12);
    });
} else {
    alert("Géolocalisation non supportée par votre navigateur.");
}

    function addToFave(stationName) {
            if (favoris.indexOf(stationName) === -1) {
                favoris.push(stationName);
                console.log(favoris);
            } else {
                alert(stationName + " est déjà dans vos favoris !"); 
            }
        }

    var stations = [
        { name: "Station 1", latitude: 48.8566, longitude: 2.3522, available_bikes: 15 },
        { name: "Station 2", latitude: 48.8570, longitude: 2.3530, available_bikes: 10 },
        { name: "Station 3", latitude: 48.8575, longitude: 2.3540, available_bikes: 5 },
    ];

    stations.forEach(function(station, index) {
        // var marker = L.marker([station.latitude, station.longitude], {icon: bikeIcon}).addTo(map);
        var marker = L.marker([station.latitude, station.longitude]).addTo(map);
        marker.bindPopup("<b>" + station.name + "</b><br>Disponibilité: " + station.available_bikes +
        "<br> <button onclick='addToFave(\"" + station.name + "\")' class='addToFave'>Ajouter à mes favoris ❤️</button>");
    });
</script>
<style>
    .addToFave {
        background-color: white;
        border: 1px solid black;
        padding: 5px 20px;
        border-radius: 30px;
    }
</style>
</body>
</html>