<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>

</head>
<body>
    <header>
    </header>

    <main>
            <h1>Bienvenue sur l'application Trouve ton Vélib'</h1>

        <section>
            <h2>Découvrez les Vélibs à Paris</h2>
            <p>Consultez la carte pour trouver une station près de vous.</p>
            <a href="{{ url_for('carte') }}" class="button">Voir la carte</a>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Vélib' App</p>
    </footer>

</body>
</html>
