<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Se connecter</title>
</head>
<body>
    <header>
    </header>

    <main>
       <h1>Se connecter</h1>
    </main>

    <footer>
        <p>&copy; 2024 Vélib' App</p>
    </footer>

</body>
</html>
